body,p,ul,li,h1,h3,div,section,button{
  margin:0;
  padding:0;
}
body{
  max-width:640px;
  margin:0 auto;
  font-family: 'Apple SD Gothic Neo';
  color:#060B11;
}
button{
  cursor: pointer;
}
li{
  list-style: none;
}