@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');
body,p,ul,li,h1,h3,h4,h5,main,div,section,button{
  margin:0;
  padding:0;
}
body{
  font-family: 'Gowun Dodum','Malgun Gothic', 'Apple SD Gothic Neo', sans-serif;
  color:#0f0f0f;
}
button{
  cursor: pointer;
}
li{
  list-style: none;
}